:root {
  --body-bg: linear-gradient(
    -90deg,
    rgb(69, 103, 178) 20%,
    rgb(138, 185, 255) 80%
  );
  --mode-pos: rotateZ(0deg)
  --title: #000;
}

.dark {
  --body-bg: linear-gradient(to left, rgb(36, 59, 85), rgb(20, 30, 48));
  --mode-pos: rotateZ(180deg);
  --title: #00e1ff;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  background: var(--body-bg);
  background-size: 100% 100%;
}

main {
  flex-grow: 1;
}

img {
  vertical-align: middle;
  object-fit: cover;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}
p {
  margin: 0;
}

.site-title {
  color: var(--title);
}

.js-mode {
  position: absolute;
  top: 55px;
  left: calc(50% - 500px);
  width: 40px;
  padding: 20px 0;
  background-color: #fff;
  border: none;
  background-image: url("../images/mode.svg");
  background-repeat: no-repeat;
  border-radius: 50%;
  background-size: 40px;
  transform: var(--mode-pos);
  transition: all .4s ease;
}

.js-select{
  position: absolute;
  top: 55px;
  right: calc(50% - 600px);
  width: 200px !important;
}

.js-year-sort{
  position: absolute;
  top: 55px;
  left: calc(50% + 180px);
  width: 200px !important;
}

.js-sort-page{
  position: absolute;
  top: 55px;
  left: calc(50% - 45px);
  width: 200px !important;
}

.js-lang-sort{
  position: absolute;
  top: 55px;
  left: calc(50% - 270px);
  width: 200px !important;
}

.js-search{
  position: absolute;
  top: 145px;
  right: calc(50% - 320px);
  width: 645px !important;
} 

.js-list{
  margin-top: 100px !important;
}

.js-author {
  color: var(--title);
}

.js-link {
  position: relative;
}

.js-link::after {
  position: absolute;
  top: 5px;
  width: 15px;
  height: 15px;
  margin-left: 8px;
  background-image: url("../images/arrow-right.svg");
  background-repeat: no-repeat;
  background-size: 15px;
  content: "";
}
